h2 {
   background-color: #607d8b;
   color: #ffffff;
}

p {
   font-size: 16px;
   width: 60%;
}

.title {
   font-size: 65px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
   width: 100%; /* Full width */
   padding:12px; /* Some padding */
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   margin-top: 6px;
   margin-right: 1px;
   margin-left: auto;
   margin-bottom: 16px;
   resize:vertical;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
